/*font-family: 'Cute Font', cursive;
font-family: 'Montserrat', sans-serif;*/

body {
    background-color: pink;
    max-width: 600px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
h1, h2, h3 {
    font-family: 'Cute Font', cursive;
}

p, li {
    font-family: "Montserrat", sans-serif;
}
h3 {

    font-size: 30px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    border: 4px solid lavender;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
}
button {
    border: 4px solid lavender;
    height: 40px;
    width: 310px;
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
}